{% extends "main/main.html" %}
{% block content %}

<form action="." method="post">
{% csrf_token %}
{{form.as_p}}
    <input type="submit" value="save">
</form>
{% if messages %}
        {% for message in messages %}
        <p class="alert alert-dismissable {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
        </p>
        {% endfor %}
    {% endif %}
{% endblock %}