{% extends "main/main.html" %}
{% block content %}

<form action="." method="post">
{% csrf_token %}
{{form.as_p}}
    <input type="submit" value="save">
</form>

{% if obj is not none  %}
<div class="container">
      <table>
        <thead>
          <tr>
              <th>Number</th>
              <th>Genres name</th>
          </tr>
        </thead>
        <tbody>
        {% for el in obj %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{ el.genres_type}}</td>
              {% endfor %}
          </tr>
        </tbody>
      </table>
</div>
{% endif %}
{% endblock %}