{% extends "main/main.html" %}
{% block content %}

{% for instance in object_list %}

<li>Channel name: {{ instance.channel_name }}</li>
<li>URL: {{ instance.url }}</li>
<li>Genres: {{ instance.genres }}</li>
<li>Update: {{ instance.update  }}</li>
<br>
{% endfor %}

{% endblock %}
