{% extends "main/main.html" %}
{% block content %}

{% load materializecss %}
<form method="POST">
        {% csrf_token %}
        <!--{{form.as_p}}-->
        {{ form.url | materializecss:'s8 m6, icon=public' }}
        {{ form.file_format | materializecss:'s8 m6, icon=sd_card' }}
        {{ form.dest_path | materializecss:'s8 m6, icon=file_download' }}


        <button class="btn" type="submit">Download</button>
</form>

{% endblock %}