  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">YTD</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/add_new_genres">Add genres</a></li>
          <li><a href="/add_new_channel">Add channel</a></li>
          <li><a href="/list_channels">List channels </a></li>
          <li><a href="/download_single_file">Single MP3/MP4 file</a></li>
          <li><a href="/subscriptions">Check You subscriptions</a></li>
            <li><a href="/subscriptions">Review history</a></li>
        </ul>
      </div>
    </nav>
  </div>